<?php

/**
 * Drupal VM drush aliases.
 *
 * @see example.aliases.drushrc.php.
 */

{% for vhost in nginx_hosts %}
$aliases['{{ vhost.server_name }}'] = array(
  'uri' => '{{ vhost.server_name }}',
  'root' => '{{ vhost.root }}',
);

{% endfor %}
