<?php

/**
 * Drupal VM drush aliases.
 *
 * @see example.aliases.drushrc.php.
 */

{% for vhost in nginx_hosts %}
$aliases['{{ vhost.server_name }}'] = array(
  'uri' => '{{ vhost.server_name }}',
  'root' => '{{ vhost.root }}',
  'remote-host' => '{{ vhost.server_name }}',
  'remote-user' => 'vagrant',
  'ssh-options' => '-o PasswordAuthentication=no -i ~/.vagrant.d/insecure_private_key',
);

{% endfor %}
